<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>env</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>it</string>
              <string>uat</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <alex.jenkins.plugins.FileSystemListParameterDefinition plugin="filesystem-list-parameter-plugin@0.0.5">
          <name>spec</name>
          <description></description>
          <nodeName>master</nodeName>
          <path>/Users/shalu/.jenkins/workspace/cypress_bosonic_test_automation/cypress/integration/bosonic/tm/</path>
          <selectedType>FILE</selectedType>
          <sortByLastModified>false</sortByLastModified>
          <sortReverseOrder>true</sortReverseOrder>
          <selectedEnumType>FILE</selectedEnumType>
          <regexIncludePattern></regexIncludePattern>
          <regexExcludePattern></regexExcludePattern>
        </alex.jenkins.plugins.FileSystemListParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.12.1">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>git@github.com:otcxn/bosonic-test-automation.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <org.jenkinsci.plugins.parameterizedscheduler.ParameterizedTimerTrigger plugin="parameterized-scheduler@1.0">
      <spec></spec>
      <parameterizedSpecification>TZ=America/New_York
#@midnight
07 18 * * * % env=uat; spec=lm_order_fees_balances_test.js</parameterizedSpecification>
    </org.jenkinsci.plugins.parameterizedscheduler.ParameterizedTimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/sh

specPath=&quot;cypress/integration/bosonic/tm&quot;

#spec=&quot;test without it&quot;

echo &quot;SPEC: &lt;$spec&gt;&quot;
#echo &quot;SCHEDULER SPEC: &lt;$spec_test&gt;&quot;

if [[ $spec == &quot;&quot; ]]; then
	#echo &quot;\&quot;Build periodically with parameters\&quot; is passing SPEC as blank&quot;
	spec=&quot;lm_order_fees_balances_test.js&quot;
fi

echo &quot;================================================================================&quot;
echo &quot;Running with Spec: $spec&quot;
echo &quot;Running for environment: $env&quot;
echo &quot;================================================================================&quot;

#npm install
#npx cypress run --spec &quot;$specPath/$spec&quot; --env env=$env
#if [[ &quot;$?&quot; != &quot;0&quot; ]]; then
#    echo &quot;Screenshot at http://192.168.99.3:8080/job/Continuos%20Integration%20Bosonic/ws/cypress/screenshots/bosonic/tm/&quot;
#    echo &quot;Build failed&quot;
    #exit 1
#fi

#npx cypress run --env env=it --spec &quot;cypress/integration/bosonic/tm/smoke_test.js&quot;
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.10"/>
  </buildWrappers>
</project>