<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <org.biouno.unochoice.ChoiceParameter plugin="uno-choice@2.5.6">
          <name>Environment</name>
          <description></description>
          <randomName>choice-parameter-321637859811809</randomName>
          <visibleItemCount>1</visibleItemCount>
          <script class="org.biouno.unochoice.model.GroovyScript">
            <secureScript plugin="script-security@1.78">
              <script>return [&quot;select&quot;,&quot;IT&quot;,&quot;UAT&quot;,&quot;PROD&quot;]</script>
              <sandbox>false</sandbox>
            </secureScript>
            <secureFallbackScript plugin="script-security@1.78">
              <script>return[&apos;error&apos;]</script>
              <sandbox>false</sandbox>
            </secureFallbackScript>
          </script>
          <projectName>test-script-FreeStyle</projectName>
          <projectFullName>test-script-FreeStyle</projectFullName>
          <choiceType>PT_SINGLE_SELECT</choiceType>
          <filterable>false</filterable>
          <filterLength>1</filterLength>
        </org.biouno.unochoice.ChoiceParameter>
        <org.biouno.unochoice.CascadeChoiceParameter plugin="uno-choice@2.5.6">
          <name>version</name>
          <description></description>
          <randomName>choice-parameter-323282192887402</randomName>
          <visibleItemCount>1</visibleItemCount>
          <script class="org.biouno.unochoice.model.GroovyScript">
            <secureScript plugin="script-security@1.78">
              <script>import static groovy.io.FileType.FILES

def itList  = &quot;/Users/shalu/rpm/liquimatch-it-repo/noarch&quot;
def uatList  = &quot;/Users/shalu/rpm/liquimatch-uat-repo/noarch&quot;
def prodList  = &quot;/Users/shalu/rpm/liquimatch-prod-repo/noarch&quot;
List default_item = [&quot;None&quot;]
def rootPath = &quot;&quot;

if (Environment.equals(&quot;IT&quot;)){
  rootPath = itList
} else if (Environment.equals(&quot;UAT&quot;)){
  rootPath = uatList
} else if (Environment.equals(&quot;PROD&quot;)){
  rootPath = prodList
} else {
  return default_item
}

def dir = new File(rootPath);
def files = [];
dir.eachFileRecurse(FILES) {
  if(it.name.endsWith(&apos;.rpm&apos;)) {
    files &lt;&lt; it.getName()
  }
}
return files;</script>
              <sandbox>false</sandbox>
            </secureScript>
            <secureFallbackScript plugin="script-security@1.78">
              <script>return[&apos;error&apos;]</script>
              <sandbox>false</sandbox>
            </secureFallbackScript>
          </script>
          <projectName>test-script-FreeStyle</projectName>
          <projectFullName>test-script-FreeStyle</projectFullName>
          <parameters class="linked-hash-map"/>
          <referencedParameters>Environment</referencedParameters>
          <choiceType>PT_SINGLE_SELECT</choiceType>
          <filterable>true</filterable>
          <filterLength>2</filterLength>
        </org.biouno.unochoice.CascadeChoiceParameter>
        <org.biouno.unochoice.ChoiceParameter plugin="uno-choice@2.5.6">
          <name>files</name>
          <description></description>
          <randomName>choice-parameter-323509109704118</randomName>
          <visibleItemCount>1</visibleItemCount>
          <script class="org.biouno.unochoice.model.GroovyScript">
            <secureScript plugin="script-security@1.78">
              <script>import static groovy.io.FileType.FILES
def rootPath = &quot;/Users/shalu/rpm/liquimatch-uat-repo/noarch&quot;
def dir = new File(rootPath);
def files = [];
//dir.traverse(type: FILES, maxDepth: 0) { files.add(it) };
dir.eachFileRecurse(FILES) {
  if(it.name.endsWith(&apos;.rpm&apos;)) {
    files &lt;&lt; it.getName()
  }
}
return files;</script>
              <sandbox>false</sandbox>
            </secureScript>
            <secureFallbackScript plugin="script-security@1.78">
              <script>return[&apos;error&apos;]</script>
              <sandbox>false</sandbox>
            </secureFallbackScript>
          </script>
          <projectName>test-script-FreeStyle</projectName>
          <projectFullName>test-script-FreeStyle</projectFullName>
          <choiceType>PT_SINGLE_SELECT</choiceType>
          <filterable>false</filterable>
          <filterLength>1</filterLength>
        </org.biouno.unochoice.ChoiceParameter>
        <jp.ikedam.jenkins.plugins.extensible__choice__parameter.ExtensibleChoiceParameterDefinition plugin="extensible-choice-parameter@1.8.0">
          <name>test</name>
          <description></description>
          <editable>false</editable>
          <editableType>NoFilter</editableType>
          <choiceListProvider class="jp.ikedam.jenkins.plugins.extensible_choice_parameter.FilenameChoiceListProvider">
            <baseDirPath>/Users/shalu/rpm/liquimatch-it-repo/noarch</baseDirPath>
            <includePattern>XE-*</includePattern>
            <scanType>File</scanType>
            <excludePattern></excludePattern>
            <reverseOrder>true</reverseOrder>
            <emptyChoiceType>None</emptyChoiceType>
          </choiceListProvider>
        </jp.ikedam.jenkins.plugins.extensible__choice__parameter.ExtensibleChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders/>
  <publishers/>
  <buildWrappers/>
</project>