<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <alex.jenkins.plugins.FileSystemListParameterDefinition plugin="filesystem-list-parameter-plugin@0.0.5">
          <name>custVersion</name>
          <description></description>
          <nodeName>master</nodeName>
          <path>/rpm/otcxn-it-repo/noarch/custodian</path>
          <selectedType>FILE</selectedType>
          <sortByLastModified>false</sortByLastModified>
          <sortReverseOrder>true</sortReverseOrder>
          <selectedEnumType>FILE</selectedEnumType>
          <regexIncludePattern></regexIncludePattern>
          <regexExcludePattern></regexExcludePattern>
        </alex.jenkins.plugins.FileSystemListParameterDefinition>
        <alex.jenkins.plugins.FileSystemListParameterDefinition plugin="filesystem-list-parameter-plugin@0.0.5">
          <name>blockVersion</name>
          <description></description>
          <nodeName>master</nodeName>
          <path>/rpm/otcxn-it-repo/noarch/blockcore</path>
          <selectedType>FILE</selectedType>
          <sortByLastModified>false</sortByLastModified>
          <sortReverseOrder>true</sortReverseOrder>
          <selectedEnumType>FILE</selectedEnumType>
          <regexIncludePattern></regexIncludePattern>
          <regexExcludePattern></regexExcludePattern>
        </alex.jenkins.plugins.FileSystemListParameterDefinition>
        <alex.jenkins.plugins.FileSystemListParameterDefinition plugin="filesystem-list-parameter-plugin@0.0.5">
          <name>fCustVersion</name>
          <description></description>
          <nodeName>master</nodeName>
          <path>/rpm/otcxn-it-repo/noarch/frontend-cust</path>
          <selectedType>FILE</selectedType>
          <sortByLastModified>false</sortByLastModified>
          <sortReverseOrder>true</sortReverseOrder>
          <selectedEnumType>FILE</selectedEnumType>
          <regexIncludePattern></regexIncludePattern>
          <regexExcludePattern></regexExcludePattern>
        </alex.jenkins.plugins.FileSystemListParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>overwriteOldConfig</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>yes</string>
              <string>no</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>rollback</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>no</string>
              <string>yes</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

echo $custVersion
custVerNum=$(echo $custVersion | sed &apos;s/.noarch.rpm//g&apos;)

echo $blockVersion
blockVerNum=$(echo $blockVersion | sed &apos;s/.noarch.rpm//g&apos;)

echo $fCustVersion
fCustVerNum=$(echo $fCustVersion | sed &apos;s/.noarch.rpm//g&apos;)

echo &quot;Overwrite old config file:  $overwriteOldConfig&quot;

# tag &quot;restartSupervisor&quot; removed

#ansibleDir=&quot;/var/lib/ansible/IT&quot;
#cd $ansibleDir
ansibleDir=&quot;/etc/ansible&quot;

sudo ansible-playbook -u centos $ansibleDir/playbook/custAppIT.yml --tags &quot;frontend,custodian,blockcore&quot; \
--extra-vars &quot;custVerNum=${custVerNum} blockVerNum=${blockVerNum} \
fCustVerNum=${fCustVerNum} forceFlag=${overwriteOldConfig} rollback=${rollback}&quot;
if [[ &quot;$?&quot; != &quot;0&quot; ]]; then
    echo &quot;Build failed&quot;
    exit 1
fi


echo
echo Installed Version:
echo
sudo ansible -u centos -a &quot;rpm -qa otcxn-custodian warn=False&quot; hostIT | tail -1
echo
sudo ansible -u centos -a &quot;rpm -qa otcxn-blockcore warn=False&quot; hostIT | tail -1
echo
sudo ansible -u centos -a &quot;rpm -qa otcxn-frontend-cust warn=False&quot; hostIT | tail -1
echo

</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>